@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.wallet-detail-table{
  margin:20px;
}

.wallet-detail-table tr{
  border-bottom: 1px solid #cfcfcf;
}

.wallet-detail-table th{
  padding:10px;
  text-align: left;
}

.wallet-detail-table td{
  padding:10px;
  text-align: right;
}

.currency-container{
  width:500px;
}